{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'paris' %}">Paris</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Football</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Basketball</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rugby</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tenis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Autres</a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Compte</a>
          <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
          <a class="dropdown-item" href="{% url 'password_change' %}">Changer mot de passe</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Déconnection</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>
<section class=" login-block  border-bottom border-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">       
            <section class="">
    			<div class="container">
  					<div class="row">
    					<div class="col-md-12 login-sec  "  style="padding: 50px 30px!important;">
        					<h2 class="text-center">Changer de mot de passe</h2>
							<form method="post">
								{% csrf_token %}
								{{ form|crispy }}
								<div class="text-center">
								<button type="submit" class="btn btn-success mr-3  ">Changer de mot de passe</button></div>
							</form>

							<br>	
										
    					</div>
					</div>
				</div>
			</section>
      </div> <!-- END col-12 -->    
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END section-->

	

{% endblock %}