{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<section class=" login-block  border-bottom border-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto">       
            <section class="">
    			<div class="container">
  					<div class="row">
    					<div class="col-md-12 login-sec text-center "  style="padding: 50px 30px!important;">
        					<h2>Mot de passe oublié</h2>
							<form method="post">
								{% csrf_token %}
								{{ form|crispy }}
								<button type="submit" class="btn btn-primary btn-block mr-2  ">Envoyer</button><br>
								<a class="btn mr-3  " href="{% url 'login' %}">Se connecter</a>
								<a class="btn mr-3  " href="{% url 'inscription' %}">S'inscrire</a>
							</form>


							<br>	
										
    					</div>
					</div>
				</div>
			</section>
      </div> <!-- END col-12 -->    
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END section-->


{% endblock %}