{% extends 'base.html' %}


{% block content %}
	
<section class=" login-block  border-bottom border-light">
  <div class="container">
    <div class="row">
      <div class="col-12">       
            <section class="">
    			<div class="container">
  					<div class="row">
    					<div class="col-md-4 login-sec text-center "  style="padding: 150px 30px!important;">
        					<h2 class="text-center" >MISE NOW</h2><br> 
        					<a class="btn btn-outline-primary mr-3  btn-block" href="{% url 'login' %}">Se connecter</a>
        					<a  class="btn btn-outline-success mr-3 mb-3 btn-block" href="{% url 'inscription' %}">S'inscrire</a>
    					</div>
    					<div class="col-md-8 banner-sec">
            				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 				<ol class="carousel-indicators">
                    				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  				</ol>
            					<div class="carousel-inner" role="listbox">
    								<div class="carousel-item active" >
      									<img class="d-block img-fluid" style="height: 80vh!important" img-fluid" src="https://scontent.fabj5-1.fna.fbcdn.net/v/t1.0-9/67383451_2241632405959163_9071115407556870144_n.jpg?_nc_cat=104&_nc_eui2=AeFll0BDwIN1lqJn3X8Gl6n5dlE35K0-HmjvupuGmJ0OHsgSJ15iMmqDLyb3g0Gldx86iTZ8ZuznfXAwcoziOvvzeIupmviNNi-4xe12uYx_4Q&_nc_oc=AQmB-lYUMvSmd_JqRqBKCrG6rFblLgskMlwkH0tbBM84UFdsGtEVRvsHRkjPEVOCxOI&_nc_ht=scontent.fabj5-1.fna&oh=ff70d46498dfc0f02f058d3f6e8bb174&oe=5DEA5727" alt="First slide">
      									<div class="carousel-caption d-none d-md-block">
        									<div class="banner-text">
            									<h2>Plus qu'un sport</h2>
            									<p>Vivez votre amour pour le foot tout en vous faisant de l'argent. Sans déplacement, paiemant en un clique</p>
        									</div>  
  										</div>
   									</div>
	    							<div class="carousel-item">
	      									<img style="height: 80vh!important" class="d-block img-fluid" src="https://scontent.fabj5-1.fna.fbcdn.net/v/t1.0-9/67543524_2241632655959138_3232935799116791808_n.jpg?_nc_cat=100&_nc_eui2=AeFMPRyoo2PbA6XHfxie8wKsZa-YQP0c8zsJWT2Va2hA8pRblQ3-9hxcNJHk-QQM2yd7Sg2LbMzIUq5Xfi9qwsvAt8XGtzKdCL713__CiPR2QQ&_nc_oc=AQnfDb-Mk21fmXRO-jUqB16Kz3aUg4GpP5Pyl4ax6EPCrOo44U4Q-qDVN_87Kmp-n5s&_nc_ht=scontent.fabj5-1.fna&oh=018198ebbf1ce7556f8516e28718842c&oe=5DA1D622" alt="First slide">
	      									<div class="carousel-caption d-none d-md-block">
	        									<div class="banner-text">
	            									<h2>A l'affiche</h2>
	            									<p>Le plus grand championnat au monde reprend, Appretez vos mise pour un max de gain.</p>
	        									</div>  
	    									</div>
	    							</div>
    								<div class="carousel-item">
      									<img style="height: 80vh!important" class="d-block img-fluid" src="https://scontent.fabj5-1.fna.fbcdn.net/v/t1.0-9/67360523_2241632579292479_7979579349365948416_n.jpg?_nc_cat=110&_nc_eui2=AeGAP1MMfgkc0L_XmUCx9vntaSaRoSj_CH6svCfz5lUgvfuZxvqeigd0fRU03m6PawS00i41rIJ957PROHOrLA7esoaIJ08iPynQevE9ZI4qxg&_nc_oc=AQmIgx0gXbO-ywrn-ITh0gZ7BIrDJxuQGXQpQXUAMuDu2nBUq0RvYTdb5W-mTFKE9Tg&_nc_ht=scontent.fabj5-1.fna&oh=a898c671b3dc22d26bdc59d7884ebce1&oe=5DEB75AF" alt="First slide">
      									<div class="carousel-caption d-none d-md-block">
        									<div class="banner-text">
            									<h2>Ligue</h2>
            									<p>Vivez des émotions fortes</p>
        									</div>  
    									</div>
  									</div>
            					</div>     
    						</div>
  						</div>
					</div>
				</div>
			</section>
      </div> <!-- END col-12 -->    
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END section-->

{% endblock %}

